<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyConStringSTORE_NOTSTAR" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=STORE_NOTSTAR;"></add>
    <add name="MyConStringSTORE" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=STORE;"></add>
    <add name="MyConString" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Database=STORE_3;"></add>
  </connectionStrings>
</configuration>